body {
  font-family: Helvetica, sans-serif;
  font-size: 130%;
}

input {
  padding: 5px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 300px;
}

label {
  position: relative;
  top: 12px;
  float: left;
  width: 200px;
  margin-right: 20px;
}

#container {
  width: 550px;
  margin: 0 auto;
}

.form-container {
  margin-bottom: 20px;
}

#submitButton {
  width: 130px;
  height: 40px;
  font-size: 20px;
  margin-left: 220px;
}

#errorMessage {
  color: red;
  font-size: 90%;
}

#successMessage {
  color: green;
  font-size: 90%;
  display: hidden;
  margin-bottom: 40px;
}
